<table class="table">
    <thead>
      <tr>
        <th scope="col">Client Detail</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>       
        <th scope="col">Address</th>
        <th scope="col">AddedBy(EMPID)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{client?.id}}</td>
        <td>{{client?.name}}</td>
        <td>{{client?.email}}</td>        
        <td>{{client?.employeeId}}</td>
      </tr>
    </tbody>
  </table>
