<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Info System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <div ngbDropdown>
              <a class="nav-link" ngbDropdownToggle> Employees </a>
              <div ngbDropdownMenu>
                <app-employees></app-employees>
              </div>
            </div>
          </li>
          <li class="nav-item" >
            <a class="btn btn-outline-primary rounded-pill" [routerLink]="['createemployee']">Create</a>
          </li>
    
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div ngbDropdown>
            <a class="nav-link" ngbDropdownToggle>Clients</a>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <app-clients></app-clients>
            </div>
          </div>
        </li>
      
      <li class="nav-item" >
        <a class="btn btn-outline-primary rounded-pill" [routerLink]="['createclient']">Create</a>
      </li>
      </ul>



      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>


    </div>
  </nav>
  